{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} About this Website {% endblock %}</h1>
    <h2>This website (including server) + corresponding chrome extension was created as a final project for CS 410: Text Information Systems at UIUC (For Fall 2022)</h2>
    Some resources used (in addition to lectures watched + labs done in this class):
    <ul>
   <li>Chrome Developer Tutorial <a href="https://developer.chrome.com/docs/extensions/mv3/">https://developer.chrome.com/docs/extensions/mv3/</a></li>
 <li><a href="https://developer.chrome.com/docs/extensions/mv3/getstarted/tut-tabs-manager/">https://developer.chrome.com/docs/extensions/mv3/getstarted/tut-tabs-manager/</a></li>
 <li><a href="https://stackoverflow.com/questions/38321951/create-chrome-extension-to-send-data-into-localhost-server">https://stackoverflow.com/questions/38321951/create-chrome-extension-to-send-data-into-localhost-server</a></li>
 <li> after reading through the tutorials, also used some parts of the 410 extension (provided by the TAs)(http client) to help with the interaction with the server
</li>
    <li>How to create a public API / Server that runs 24/7 on PythonAnywhere for FREE <a href="https://www.youtube.com/watch?v=z6q9kug0PL0">https://www.youtube.com/watch?v=z6q9kug0PL0</a> </li>
    <li>Python3 Documentaiton: <a href="https://docs.python.org/3/">https://docs.python.org/3</a></li>
    <li>Used as a template to start this website <a href="https://www.digitalocean.com/community/tutorials/how-to-use-web-forms-in-a-flask-application">https://www.digitalocean.com/community/tutorials/how-to-use-web-forms-in-a-flask-application</a></li>
    <li>scissor icon <a href="https://www.freeiconspng.com/img/25529">https://www.freeiconspng.com/img/25529</a> </li>
<li>BM25 ranker: <a href="https://github.com/dorianbrown/rank_bm25">https://github.com/dorianbrown/rank_bm25</a></li>
<li>nltk.tokenize.treebank package <a href="https://www.nltk.org/_modules/nltk/tokenize/treebank.html">https://www.nltk.org/_modules/nltk/tokenize/treebank.html</a> </li>
<li>Topic Extraction with Non-Negative Matrix Factorization (tutorial): <a href="https://ogrisel.github.io/scikit-learn.org/sklearn-tutorial/auto_examples/applications/topics_extraction_with_nmf.html">https://ogrisel.github.io/scikit-learn.org/sklearn-tutorial/auto_examples/applications/topics_extraction_with_nmf.html</a></a></li>
<li>CS 410 Lectures

    </ul>
    <h2>Source Code</h2>
    <a href="https://github.com/brysonli12/CourseProject">https://github.com/brysonli12/CourseProject</a>
{% endblock %}